<template>
    <div>
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
        <h2><i class="bi bi-bootstrap"></i></h2>
      </a>
      <span class="mb-3 mb-md-0 text-body-secondary">© 2023 Company, Inc</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <h4><li class="ms-3"><a class="text-body-secondary" href="#"><i class="bi bi-twitter-x"></i></a></li></h4>
      <h4><li class="ms-3"><a class="text-body-secondary" href="#"><i class="bi bi-instagram"></i></a></li></h4>
      <h4><li class="ms-3"><a class="text-body-secondary" href="#"><i class="bi bi-facebook"></i></a></li></h4>
    </ul>
  </footer>
    </div>
</template>

<script>
    export default {
        
    }
</script>

<style lang="scss" scoped>

</style>