<script setup>

</script>

<template>
<div class="container my-5">
  <div class="card" style="width: 25rem;">
  <img src="https://www.searchenginejournal.com/wp-content/uploads/2019/10/25-of-the-best-examples-of-home-pages-5dc504205de2e-1520x800.webp" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Home Page</h5>
    <p class="card-text">This is Home Page</p>
    <a href="#" class="btn btn-primary btn-sm">Read ...</a>
  </div>
</div>
</div>
</template>
