<script setup>
import { RouterLink } from 'vue-router';
import NavBar from './views/Layout/NavBar.vue';
import FooterView from './views/Layout/FooterView.vue'


</script>

<template>
  <nav-bar/>
  <router-view/>
  <footer-view/>
</template>

<style scoped>
  @import url('https://fonts.googleapis.com/css2?family=Prompt&family=Roboto+Condensed&display=swap');
  .navbar{
    font-family: 'Prompt', sans-serif;

  }
</style>